{% extends 'marketing/_legal_layout.html.twig' %}

{% block title %}{{ 'terms.seo.title'|trans }}{% endblock %}
{% block meta_description %}{{ 'terms.seo.description'|trans }}{% endblock %}

{% block legal_title %}{{ 'terms.title'|trans }}{% endblock %}

{% block legal_body %}
<p>{{ 'terms.intro'|trans|raw }}</p>

<h2>{{ 'terms.s1_title'|trans }}</h2>
<p>{{ 'terms.s1_body'|trans|raw }}</p>

<h2>{{ 'terms.s2_title'|trans }}</h2>
<p>{{ 'terms.s2_body'|trans|raw }}</p>
<ul>
    <li>{{ 'terms.s2_item_1'|trans }}</li>
    <li>{{ 'terms.s2_item_2'|trans }}</li>
    <li>{{ 'terms.s2_item_3'|trans }}</li>
</ul>

<h2>{{ 'terms.s3_title'|trans }}</h2>
<p>{{ 'terms.s3_body'|trans|raw }}</p>

<h2>{{ 'terms.s4_title'|trans }}</h2>
<p>{{ 'terms.s4_body'|trans|raw }}</p>
<ul>
    <li>{{ 'terms.s4_item_1'|trans }}</li>
    <li>{{ 'terms.s4_item_2'|trans }}</li>
    <li>{{ 'terms.s4_item_3'|trans }}</li>
    <li>{{ 'terms.s4_item_4'|trans }}</li>
</ul>

<h2>{{ 'terms.s5_title'|trans }}</h2>
<p>{{ 'terms.s5_body'|trans|raw }}</p>

<h2>{{ 'terms.s6_title'|trans }}</h2>
<p>{{ 'terms.s6_body'|trans|raw }}</p>

<h2>{{ 'terms.s7_title'|trans }}</h2>
<p>{{ 'terms.s7_body'|trans|raw }}</p>

<h2>{{ 'terms.s8_title'|trans }}</h2>
<p>{{ 'terms.s8_body'|trans|raw }}</p>

<h2>{{ 'terms.s9_title'|trans }}</h2>
<p>{{ 'terms.s9_body'|trans|raw }}</p>
{% endblock %}
